<html>
<head>
</head>
<body>
<bgcolor = "red">
<br><br><br>
<br><br>
<center><h1><font color = "Green"><u><i>Welcome to Corequadlabs Pvt.Ltd.</center></i></u></font></h1>
</body>
</html>
<br>
<center><b><button onclick="window.location.href = '/login'"; style = "Background-color:red; color:white; width:80px; height:30px;" value="">Go Live</b></center></button>
</br>
