<br>
<br>
<br>
<br>
<br>
<h2><center><u><i>Contact Us</u></center></h2></i>
<p><strong><center>Contact No.: </strong>+91-9876543210</p></center>
<p><strong><center>Address: </strong>123, Shop no.1, Near Landmark,city, State, India</p></center>
